:root {
  --clr-header: hsla(32, 100%, 53%, 0.1);
  --clr-dark-1: #131313;
  --clr-dark-2: #424242;
  --clr-dark-3: #727272;
  --clr-orange: #ff900e;
  --footer-bg: #fff4e7;
  --clr-white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: white;
  color: black;
}
img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--clr-dark-2);
  font-size: 1.125rem;
  line-height: 26px;
  font-weight: 500;
}
ul {
  list-style: none;
}

h1 {
  line-height: 75px;
  font-weight: 700;
  font-size: clamp(2rem, 1.4285714285714286rem + 2.857142857142857vw, 4rem);
  color: var(--clr-dark-1);
}
h2 {
  font-weight: 700;
  line-height: 52px;
  font-size: clamp(
    1.75rem,
    1.4464285714285714rem + 1.5178571428571428vw,
    2.8125rem
  );
  color: var(--clr-dark-1);
}

h3 {
  font-size: 125rem;
  font-weight: 600;
  line-height: 23px;
  color: var(--clr-dark-1);
}

p {
  font-size: 1rem;
  line-height: 26px;
  font-weight: 400;
  color: var(--clr-dark-3);
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.btn {
  font-size: 1.25rem;
  line-height: 23px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  background-color: var(--clr-orange);
  border-radius: 8px;
  padding-inline: 24px;
  padding-block: 21px 20px;
  color: var(--clr-white);
}

/* Header */
.header {
  padding-top: 50px;
  background: var(--clr-header);
  min-height: 100vh;
  padding-bottom: 45px;
  margin-bottom: 85px;
}
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 24px;
    margin-bottom: 50px;
  }
}
/* Navbar */

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  gap: 3rem;
}

.nav__title {
  margin-right: auto;
}

.nav__menu i {
  font-size: 1.875rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .nav__menu i {
    display: block;
  }
  .nav__list {
    display: none;
  }
}

/* hero */

.hero {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__heading {
  max-width: 600px;
  margin-bottom: 24px;
}
.hero__info {
  max-width: 850px;
  margin-bottom: 30px;
}

.hero__btn {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .hero {
    margin-top: 50px;
  }
  .hero__heading {
    margin-bottom: 16px;
    line-height: 1.3;
  }
  .hero__info {
    margin-bottom: 24px;
  }

  .hero__btn {
    margin-bottom: 30px;
  }
}

